<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Приветствие</title>
    <link rel="stylesheet" href="../static/css/style.css?v=2">
</head>
<body>
    <div class="container">
        <div class="card header">
            <div class="title">PASSWORD</div>
            <button class="icon-btn" onclick="location.href='/profile'">👤</button>
        </div>
        <div class="card">
            <h2>Добро пожаловать!</h2>
            <p>Сайт предназначен для обучения пользователей созданию надежных паролей и повышения уровня кибербезопасности. Оно включает теоретическую информацию о важности сложных паролей, тренажёр по их созданию и систему проверки уровня надежности введённых паролей. Нажмите начать, чтобы перейти к входу.</p>
            <button class="btn" onclick="location.href='/login'">Начать</button>
        </div>
        <footer class="contacts">
            <h3>Контакты</h3>
            <a href="tel:+77053652869">📞 +7 (705) 365-28-69</a>
            <a href="https://instagram.com/Rosa_Mirova">📸 @Rosa_Mirova</a>
        </footer>
    </div>
</body>
</html>