<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Навигация</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="card header">
            <div class="title">Навигация</div>
            <button class="icon-btn" onclick="location.href='/'">🏠</button>
        </div>
        <div class="card">
            <button class="btn" onclick="location.href='/info'">Информационный лист</button>
            <button class="btn" onclick="location.href='/check-password'">Проверка пароля</button>
            <button class="btn" onclick="location.href='/trainer'">Мини‑игра</button>
            <button class="btn" onclick="location.href='/profile'">Личный кабинет</button>
        </div>
        <footer class="contacts">
            <h3>Контакты</h3>
            <a href="tel:+77053652869">📞 +7 (705) 365-28-69</a>
            <a href="https://instagram.com/Rosa_Mirova">📸 @Rosa_Mirova</a>
        </footer>
    </div>
</body>
</html>